In [1]:
import pandas as pd

In [ ]:
# Sentiment 140 Might not be the right data.
dfo = pd.read_csv(
    './.datasets/sentiment140.csv', 
    sep=',', 
    encoding='latin-1',
    header=None,
    names=[
        "polarity",
        "ids",
        "date",
        "query",
        "user",
        "text"
    ]
)
dfo.head(10)

,polarity,ids,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

In [17]:
for i in range(10):
    print(dfo['text'][i])

@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!
@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds
my whole body feels itchy and like its on fire
@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.
@Kwesidei not the whole crew
Need a hug
@LOLTrish hey  long time no see! Yes.. Rains a bit ,only a bit  LOL , I'm fine thanks , how's you ?
@Tatiana_K nope they didn't have it
@twittera que me muera ?

In [21]:
dfp = pd.read_csv(
    './.datasets/train_improved.csv', 
    sep=',', 
    encoding='latin-1',
    # header=None,
    # names=[
    #     "polarity",
    #     "ids",
    #     "date",
    #     "query",
    #     "user",
    #     "text"
    # ]
)
dfp.describe()

              label
count  47656.000000
mean       0.500000
std        0.500005
min        0.000000
25%        0.000000
50%        0.500000
75%        1.000000
max        1.000000

In [15]:
for i in range(10):
    print(dfp['text'][i])

US says seizes tanker used to evade North Korea sanctions https://t.co/ABaaAcIUnr #politics #feedly
Is America the greatest country? Part 1 drops 8/3 @ 10 am PST. Link:  https://t.co/jkXYrAOSuD
#america #jointminds #politics #democracy #communism #capitalism #podcast https://t.co/8sNTqhSPnT
OâReilly predicts THIS is What DOOMS Bidenâs reelection chance - via: @glennbeck https://t.co/VHWiJWEK48 #politics #videos https://t.co/A1KLPNWfEU
Corruption in Politics
#blog #politics
https://t.co/beV97ub2H2
@kylegriffin1 Are you getting all the info on #EvictionMoratorium? If you read Politico , don't miss out on what 19 other sources have to say #Congress #NancyPelosi #Politics #DemocraticParty https://t.co/i3SDI3s3F8
90% of US drone strikes kill civilians. An operator leaks this evidence and is sentenced to 4 years in prison. Where is the leadership? https://t.co/pXl91fan8D #politics #justice #war
100,000-Year-Old Fossil of Largest-Ever Vampire Bat Found https://t.co/6MVsALWzBh #news #covid #usa #canada #uk #instagram #love #coronavirus #follow #like #media #music #breakingnews #instagood #fashion #viral #trending #politics #noticias #memes #new #corona #usa #football #bâ¦
Via @RawStory: 'People will die': Congress blasted for failing on eviction moratorium â then going on 7-week vacation https://t.co/dRJjbZ8dmD | #politics #trump #corruption
ð®ð gave me a lesson on the percentage of #voters in #Texas ! #Politics https://t.co/VUWkcOgJiH
Please watch... the #US and #UK actually ran the "Belt and Road" scam BEFORE the #Chinese #CCP adopted it. #debt #politics ! https://t.co/ZAlLfuUvCr

In [18]:
len(dfp)

238646